body {
    margin: 0;
    padding: 0;
    width: 20em;
    -ms-overflow-style: none;
    overflow: auto;
    margin：0px !important;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    overflow: -moz-hidden-unscrollable;
    font-family: Microsoft JhengHei;
}

.collapseButton {
    margin-right: 10px;
    color: #0052CC;
}

.collapseButton:hover {
    color: #00B8D9;
}

.collapseLoading {
    width: 7rem;
    height: 7rem;
    float: center;
    position: absolute;
    margin-top: 160px;
    margin-left: 110px;
}

.collapseMesh {
    opacity: 0.2;
    float: center;
}

.container {
    padding: 0;
}

.checkNoPay {
    margin-left: 10px;
}

.downArrow {
    visibility: hidden;
    position: fixed;
    bottom: 5px;
    left: 160px;
    z-index: 999;
    color: #0052CC;
    animation: keepMoving 2s linear 0s infinite alternate;
    -webkit-animation: keepMoving 2s linear 0s infinite alternate;
}

@keyframes keepMoving {
    0% {
        margin-bottom: 0px;
    }

    50% {
        margin-bottom: 5px;
    }

    100% {
        margin-bottom: 0px;
    }
}

@-webkit-keyframes keepMoving {
    0% {
        margin-bottom: 0px;
    }

    50% {
        margin-bottom: 5px;
    }

    100% {
        margin-bottom: 0px;
    }
}

.errorSave {
    display: none;
}

.iconButton {
    margin-right: 0.5em;
    margin-left: 0.5em;
    cursor: pointer;
}

.iconButtonDisable {
    color: #888888;
    cursor: not-allowed;
}

.iconButtons {
    margin-left: 0.6em;
}

.issue {
    white-space: nowrap;
    line-height: 10px;
}

.issueWorkTime {
    color: #0052CC !important;
    cursor: pointer;
    text-decoration: underline;
}

.issueWorkTimeWarn {
    color: #FF8888 !important;
}

.loadingSave {
    display: none;
}

.logWork {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

.modal {
    margin: 0;
    padding: 0;
    width: 20em;
    -ms-overflow-style: none;
    overflow: auto;
    margin：0px !important;
}

.modal::-webkit-scrollbar {
    display: none;
}

.releaseNote {
    float: left;
    margin-top: 11.5px;
    margin-left: 10px;
    cursor: pointer;
}

.releaseNote:hover {
    color: #00B8D9;
}

.sameline {
    float: left;
}

.samelineP {
    display: flow-root;
}

.selectizeInputRed {
    border-color: red !important;
}

.signout {
    float: right;
    margin-top: 11.5px;
    margin-right: 10px;
    cursor: pointer;
}

.signout:hover {
    color: #00B8D9;
}

.splitLine {
    color: #0052CC;
}

.tacker {
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.ticketIcon {
    padding: 3px;
}

.ticketText {
    line-height: 22px;
}

.timeDisplay {
    margin-right: 0.6em;
}

.title {
    background-color: #0052CC;
    color: #FFFFFF;
    height: 45px;
    font-size: 1.5em;
    line-height: 45px;
}

.toDayHour {
    visibility: hidden;
}

.versionButton {
    margin-left: 10px;
    color: #333333;
    cursor: pointer;
}

.versionButton:hover {
    color: #6cc644;
}

.versionText {
    padding: 0 10px;
    border-radius: 20px;
}